__pycache__
.vscode

all excels
all resumes
logs

old

secrets.py
config/personals.py
.venv
apikeys.py
venv/
.idea/
.env
config/profiles/*.json
!config/profiles/profile.sample.json
venv_win/
resume_formats/